<div class="text-center">
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    <p>Created by {{user.user_name}} on {{format_date upload_date}}</p>
</div>
{{#each comments}}
<div class="row my-4">
    <div class="col-6">
        <div class="custom-card">
            <div class="mb-1 p-2 d-flex justify-content-between">
                <h5 class="lead">{{description}}</h5>
                <em><small class="text-secondary">{{format_date upload_date}}</small></em>
            </div>
            <div class="px-2 d-flex justify-content-between">
                <p class="blockquote-footer custom-at"> @{{user_name}}</p>
                {{#if isOwner}}
                <button class="btn btn-danger btn-delete-comment me-2 mb-2" data-id="{{id}}">Delete</button>
                {{/if}}
            </div>
        </div>
    </div>
</div>
{{/each}}
{{#if logged_in}}
<div class="row">
    <div class="col-6">
        <div class="custom-card">
            <div class="mx-3 mb-3 mt-2">
                <label class="form-label text-secondary">Add a Comment</label>
                <textarea class="form-control" id="comment" rows="3" placeholder="Comment..."></textarea>
                <button class="custom-button btn mt-3" id="postComment">Post</button>
            </div>
        </div>
    </div>
</div>
{{!-- sign in prompt/link --}}
{{else}}
<div class="row">
    <div class="col text-center">
        <p class="lead text-secondary mt-4"><em><a href="/login">Log in or Sign up</a> to leave a comment!</em></p>
    </div>
</div>
{{/if}}

<script src="/js/comment.js"></script>