<div class="row my-4">
    <div class="col post-item">
        <div data-id="{{id}}"  class="custom-card">
            <div class="bg-dark text-light p-2 d-flex justify-content-between">
                <h3>{{title}}</h3>


                <em class="my-auto">{{format_date upload_date}}</em>

            </div>
            <div class="px-2 pt-2 my-1 d-flex justify-content-between">
                <div>
                    <h5 class="lead">{{description}}</h5>
                    <p class="blockquote-footer custom-at mt-1">@{{user.user_name}}</p>
                </div>
                <form action="">
                    <div class="col-md-6">
                        <h3>Update Post:</h3>

                        <form class="form new-project-form">
                            <div class="form-group">
                                <label for="project-name">Post Title: </label>
                                <input value="{{title}}"  class="form-input" type="text" id="project-name" name="project-name" />
                            </div>
                            <div class="form-group">
                                <label for="project-desc">Description:</label>
                                <input value="{{description}}" class="form-input" id="project-desc" name="project-desc"></input>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" id="edit-post">Edit Post</button>
                            </div>
                            
                        </form>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/edit.js"></script>