{{#each blogPosts as |blogPost| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      {{blogPost.title}}
      
      <a href="/dashboard/{{blogPost.user_id}}">
      {{!-- {{blogPost.user_name}} --}}
      adsasdasdads
      </a>
    </h2>
    
    <p>Created by {{blogPost.user_name}} on {{format_date blogPost.upload_date}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{blogPost.description}}
    </p>
  </div>
</div>
{{/each}}